* {
  margin: 0px;
  padding: 0px;
}
.recharge_content .recharge_select {
  width: 100%;
  box-sizing: border-box;
  padding: 0 16px;
}
.recharge_content .recharge_select .weui-cells__title {
  margin: 20px auto 10px 0;
  line-height: 20px;
  font-size: 1.167rem;
  color: #999999;
  padding: 0;
}
.recharge_content .recharge_select .weui-cells {
  border-radius: 4px;
}
.recharge_content .recharge_select .weui-cells .weui-select {
  color: #333333;
  font-size: 1.5rem;
}
.recharge_content .recharge_select .weui-cells:before,
.recharge_content .recharge_select .weui-cells:after {
  border: none !important;
}
.recharge_content .recharge_select .weui-cell_select .weui-cell__bd:after {
  border-width: 0 2px 2px 0;
  width: 8px;
  height: 8px;
  border-color: #999999;
}
.recharge_content .recharge_month .weui-cells {
  background: transparent !important;
}
.recharge_content .recharge_month .recharge_input_total {
  width: 100%;
  box-sizing: border-box;
  display: flex;
}
.recharge_content .recharge_month .recharge_input_total .recharge_input {
  width: 200px;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  margin-right: 20px;
}
.recharge_content .recharge_month .recharge_input_total .recharge_input .weui-btn {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  box-sizing: border-box;
  background: #ffffff;
  border-radius: 0;
  color: #00caa0;
  font-size: 1.92rem;
  margin: 0;
}
.recharge_content .recharge_month .recharge_input_total .recharge_input .weui-btn:before,
.recharge_content .recharge_month .recharge_input_total .recharge_input .weui-btn:after {
  border: none !important;
  border-radius: 0 !important;
}
.recharge_content .recharge_month .recharge_input_total .recharge_input .weui-cell:before {
  border: none !important;
}
.recharge_content .recharge_month .recharge_input_total .recharge_input .weui-btn:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 1px solid rgba(216, 216, 216, 0.6);
}
.recharge_content .recharge_month .recharge_input_total .recharge_input .weui-btn:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: 1px solid rgba(216, 216, 216, 0.6);
}
.recharge_content .recharge_month .recharge_input_total .recharge_input .weui-cell {
  padding: 0;
}
.recharge_content .recharge_month .recharge_input_total .recharge_input .weui-input {
  display: block;
  width: 50px;
  height: 40px;
  background: #ffffff;
  text-align: center;
  color: #333333;
  font-size: 1.5rem;
}
.recharge_content .recharge_month .recharge_input_total .recharge_text {
  color: #999999;
  font-size: 1.167rem;
  line-height: 20px;
}
.recharge_bottom_total {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #ffffff;
  display: flex;
  padding: 10px 16px;
  box-sizing: border-box;
}
.recharge_bottom_total p {
  color: #333333;
  font-size: 1.167rem;
  float: left;
  display: inline-flex;
  align-items: center;
}
.recharge_bottom_total p span {
  font-size: 1.92rem;
  margin-right: 5px;
}
.recharge_bottom_total .recharge_btn {
  text-align: right;
  width: 100%;
  display: block !important;
}
.recharge_bottom_total .recharge_btn .weui-btn {
  display: inline-block;
  text-align: center;
  width: 120px;
  border-radius: 4px;
  background: #00caa0;
  box-sizing: border-box;
  padding: 0;
}
.recharge_bottom_total .recharge_btn .weui-btn:after {
  border: none !important;
}
